<a href="https://colab.research.google.com/github/MostafijurNaeem/Python/blob/main/Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Creating a DataFrame from a dictionary
data = {"Name": ["Alice", "Bob", "Charlie"], "Age": [25, 30, 35], "City": ["NY", "LA", "CHI"]}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

# Creating a DataFrame from a list of lists
data = [["Alice", 25, "NY"], ["Bob", 30, "LA"], ["Charlie", 35, "CHI"]]
df = pd.DataFrame(data, columns=["Name", "Age", "City"])
print("\nDataFrame from List:\n", df)

# Check the data types
print("\nData Types:\n", df.dtypes)

DataFrame:
       Name  Age City
0    Alice   25   NY
1      Bob   30   LA
2  Charlie   35  CHI

DataFrame from List:
       Name  Age City
0    Alice   25   NY
1      Bob   30   LA
2  Charlie   35  CHI

Data Types:
 Name    object
Age      int64
City    object
dtype: object

In [ ]:
# Adding a new column
df["Salary"] = [50000, 60000, 70000]
print("After Adding Column:\n", df)

# Renaming a column
df.rename(columns={"Salary": "Income"}, inplace=True)
print("\nAfter Renaming Column:\n", df)

# Dropping a row
df_dropped = df.drop(index=1)  # Drop row with index 1
print("\nAfter Dropping Row:\n", df_dropped)

# Resetting the index
df_reset = df_dropped.reset_index(drop=True)
print("\nAfter Resetting Index:\n", df_reset)

After Adding Column:
       Name  Age City  Salary
0    Alice   25   NY   50000
1      Bob   30   LA   60000
2  Charlie   35  CHI   70000

After Renaming Column:
       Name  Age City  Income
0    Alice   25   NY   50000
1      Bob   30   LA   60000
2  Charlie   35  CHI   70000

After Dropping Row:
       Name  Age City  Income
0    Alice   25   NY   50000
2  Charlie   35  CHI   70000

After Resetting Index:
       Name  Age City  Income
0    Alice   25   NY   50000
1  Charlie   35  CHI   70000

In [ ]:
# Selecting multiple rows
print("\nSelecting Rows by Index:\n", df.iloc[:2])  # First two rows

# Selecting rows with labels
print("\nSelecting Rows by Label:\n", df.loc[0:1])  # Rows with labels 0 to 1

# Selecting rows and columns
print("\nSelecting Subset (Rows and Columns):\n", df.loc[0:1, ["Name", "Age"]])

Selecting Rows by Index:
     Name  Age City  Income
0  Alice   25   NY   50000
1    Bob   30   LA   60000

Selecting Rows by Label:
     Name  Age City  Income
0  Alice   25   NY   50000
1    Bob   30   LA   60000

Selecting Subset (Rows and Columns):
     Name  Age
0  Alice   25
1    Bob   30

In [ ]:
# Filter rows where Age > 25
filtered = df[df["Age"] > 25]
print("Filtered Rows:\n", filtered)

# Multiple conditions
filtered = df[(df["Age"] > 25) & (df["City"] == "LA")]
print("\nFiltered Rows with Multiple Conditions:\n", filtered)

Filtered Rows:
       Name  Age City  Income
1      Bob   30   LA   60000
2  Charlie   35  CHI   70000

Filtered Rows with Multiple Conditions:
   Name  Age City  Income
1  Bob   30   LA   60000

In [ ]:
# Handling missing data
data = {"Name": ["Alice", None, "Charlie"], "Age": [25, 30, None]}
df = pd.DataFrame(data)

# Identify missing values
print("Missing Data:\n", df.isnull().count())

# Fill missing values
df_filled = df.fillna({"Name": "Unknown", "Age": df["Age"].mean()})
print("\nAfter Filling Missing Data:\n", df_filled)

# Drop rows with missing values
df_dropped = df.dropna()
print("\nAfter Dropping Missing Values:\n", df_dropped)

Missing Data:
 Name    3
Age     3
dtype: int64

After Filling Missing Data:
       Name   Age
0    Alice  25.0
1  Unknown  30.0
2  Charlie  27.5

After Dropping Missing Values:
     Name   Age
0  Alice  25.0

In [ ]:
# Save DataFrame to CSV
df.to_csv("example.csv", index=False)
print("\nDataFrame Saved to 'example.csv'")

# Load CSV
df_loaded = pd.read_csv("example.csv")
print("\nLoaded DataFrame:\n", df_loaded)

DataFrame Saved to 'example.csv'

Loaded DataFrame:
       Name   Age
0    Alice  25.0
1      NaN  30.0
2  Charlie   NaN