<a href="https://colab.research.google.com/github/MostafijurNaeem/Python/blob/main/python_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Printing

In [ ]:
print ("Hello Naeem")

Hello Naeem

In [ ]:
student_name = 'naeem is a good student.'
print(student_name.capitalize())

Naeem is a good student.

In [ ]:
student_name = '    naeem is a good student.      '

print(student_name.strip())
print(student_name.capitalize())

naeem is a good student.
    naeem is a good student.

In [ ]:
student_name = 'Naeem is a good student.'

student_Name= student_name.strip().capitalize()
print(student_Name)

Naeem is a good student.

# Comments

In [ ]:
"""fsdhgjfik
#class_ss= 3252
print(class_ss)
class_ss= 3252
print(class_ss)class_ss= 3252
print(class_ss)"""
class_ss= 3252
print(class_ss)

3252

In [ ]:
class_ss=   0.55
print(class_ss)
print("This is a", type(class_ss), "type data.")
print(class_ss)

0.55
This is a <class 'float'> type data.
0.55

***Type Casting***

Put the converted value in a new set to print

In [ ]:
class_ss=   2.55
#print(marks)
marks = float(class_ss)
print(marks, type(marks))
print("This is a", type(marks), "type data.")
x = 5
y = 10
X= str(x)
Y= str(y)
print(X + Y)

2.55 <class 'float'>
This is a <class 'float'> type data.
510

In [ ]:
print("rimi mota ar tasnuva shoytan")

rimi mota ar tasnuva shoytan

In [ ]:
"""
variable naminng
snake_case
camelCase
PascelCase


A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.
"""

'variable naminng\n#snake_case\n#camelCase\n#PascelCase\n\n\nA variable name must start with a letter or the underscore character\nA variable name cannot start with a number\nA variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )\nVariable names are case-sensitive (age, Age and AGE are three different variables)\nA variable name cannot be any of the Python keywords.\n'

In [ ]:
number = "10"
Number = int(number)
print(Number + 5)

number = "10"
print(Number,"5")

15
10 5

In [ ]:
groceries = ['rice', 'dal', 'onion', 'oil']
print(groceries)

['rice', 'dal', 'onion', 'oil']

In [ ]:
groceries.append  ('salt')
print(groceries)

['rice', 'dal', 'onion', 'oil', 'salt']

In [ ]:
groceries.remove ('onion')
print(groceries)

['rice', 'dal', 'oil', 'salt']

In [ ]:
name = 'Naim'
if name == 'Naeem':
  print("Hello Naeem!")
  if name == 'naim':
     print("Hello nayem!")
elif name == 'naim':
  print("Hello naim!")
else:
    print('Who are you?')

Who are you?

**For Loop:**

**for** something **in** the set

In [ ]:
name = input("What is your name?")
age = input("How old are you?")
print (f'Your name is {name}. And you are {age} years old')
print('My name is',name,".","I am ",age, "years old" )

What is your name?naeem
How old are you?24
Your name is naeem. And you are 24 years old
My name is naeem . I am  24 years old

In [ ]:
groceries = ['rice', 'dal', 'onion', 'oil', 'salt']
for item in range(2):
  print(groceries)
for item in groceries:
  print(item)

['rice', 'dal', 'onion', 'oil', 'salt']
['rice', 'dal', 'onion', 'oil', 'salt']
rice
dal
onion
oil
salt

In [ ]:
groceries = ['rice', 'dal', 'onion', 'oil', 'salt']
for index, item in enumerate(groceries):
  print(f'Item in {index} is: {item}')

Item in 0 is: rice
Item in 1 is: dal
Item in 2 is: onion
Item in 3 is: oil
Item in 4 is: salt

In [ ]:
groceries = ['rice', 'dal', 'onion', 'oil', 'salt']
for index, item in enumerate(groceries):
  print(f'Item in {index} is: {groceries[index]}')

Item in 0 is: rice
Item in 1 is: dal
Item in 2 is: onion
Item in 3 is: oil
Item in 4 is: salt

In [ ]:
groceries = ['rice', 'dal', 'onion', 'oil', 'salt']
groceries.remove ('dal')
groceries.append  ('lentil')
print(groceries)
#for index, item in enumerate(groceries):
 # print(f'Item in {index} is: {groceries[index]}')

['rice', 'onion', 'oil', 'salt', 'lentil']

In [ ]:
groceries = ['rice', 'dal', 'onion', 'oil', 'salt']
groceries[4] = 'potato'
groceries.append ("salt")
groceries.append ("banana")
groceries

#for index, item in enumerate(groceries):
  #print(f'Item in {index} is: {groceries[0]}')

['rice', 'dal', 'onion', 'oil', 'potato', 'salt', 'banana']

In [ ]:
groceries = ['rice', 'dal', 'onion', 'oil', 'salt', 'dal', 'dal', 'dal', 'dal']
for index, item in enumerate(groceries):
  #if groceries == 'dal':
  #print(groceries[index])
  if groceries[index] == 'dal':
    groceries[index] = 'lentil'
print(groceries)

['rice', 'lentil', 'onion', 'oil', 'salt', 'lentil', 'lentil', 'lentil', 'lentil']

**List Manupulation**

In [ ]:
object_list = [1, 'hi', 2.40, groceries]
object_list

[1,
 'hi',
 2.4,
 ['rice',
  'lentil',
  'onion',
  'oil',
  'salt',
  'lentil',
  'lentil',
  'lentil',
  'lentil']]

In [ ]:
student_marks = list(range(70,101))
print(student_marks)

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
student_marks [3:7]

[73, 74, 75, 76]

In [ ]:
student_marks [-3]

98

In [ ]:
student_marks [-8:-1]

[93, 94, 95, 96, 97, 98, 99]

In [ ]:
student_marks [-8:]

[93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
student_marks[:]

[70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
print(student_marks)
student_marks[:10:3]

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

[70, 73, 76, 79]

In [ ]:
student_marks.remove(82)
print(student_marks)

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

making two different list from one list
Adding two different list

In [ ]:
print(student_marks)
list_1 = student_marks[0:3]
list_2 = student_marks[-3:]
added_list = list_1+list_2
print(added_list)

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[70, 71, 72, 98, 99, 100]

In [ ]:
Counting, Maximum , minimum

In [ ]:
print(len(student_marks))
print(f"Maximum Marks is: {max(student_marks)}")
print(min(student_marks))

30
Maximum Marks is: 100
70

**Data exchanging**

**Data Sorting**

In [ ]:
student_marks.sort()
student_marks

[57,
 67,
 70,
 71,
 75,
 76,
 77,
 77,
 78,
 79,
 80,
 81,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
student_marks.sort( reverse = True )
student_marks

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 81,
 80,
 79,
 78,
 77,
 77,
 76,
 75,
 71,
 70,
 67,
 57]

In [ ]:
plain_text ='My name is Naeem'
plain_text[8:11] + plain_text[10:17]

'is  Naeem'

TUPLE

In [ ]:
first_tuple = (3.234, 32.5, 353, 32, 2, 234, 23)
print(first_tuple[3])
print(first_tuple[2:5])

32
(353, 32, 2)

In [ ]:
first_tuple[3] = 4.1416

In [ ]:
Name = input("What is your name")
print(f"Hello! {Name}")

What is your nameNaeem
Hello! Naeem

Area Measurement

In [ ]:
side_of_sq= input ("Give the length of a side of a sq:  ")
print (type(side_of_sq))
sq_area = int(side_of_sq) * int(side_of_sq)
print(f'Here is the area od the square: {sq_area}')
print(type(sq_area))

Give the length of a side of a sq:  12
<class 'str'>
Here is the area od the square: 144
<class 'int'>

In [ ]:
radius = input ("Radius of the circle    ")
c_area = 3.1416 * (float(radius)* float(radius))
print(f"Area of the circle is: {c_area}" )

Radius of the circle    10
Area of the circle is: 314.15999999999997

In [ ]:
length = input ('Input the length of the ractangle    ')
breadth = input ('Input the length of the ractangle    ')
area_r = float(length) * float(breadth)
print(area_r)

Input the length of the ractangle    456
Input the length of the ractangle    3426755432329567423547836583476587365874668547684876457836
1.5626004771422828e+60

**Class 4**

In [ ]:
a = 10
b = 10.5
c = " This is a number addition "
name = "Printer"
print(a, b, sep = " + ", end = "\n")
print('=', a+b)

10 + 10.5
= 20.5

In [ ]:
print(2 + 5)
print(2 - 5)
print(2 * 5)
print(2 / 5)

# 2^5
print(2 ** 5)

# 5 mod 2 = 1
print(5 % 2)

7
-3
10
0.4
32
1

In [ ]:
# Integer Divison
print(9 // 5, type(9//5))

1 <class 'int'>

In [ ]:
# Assignment operator
# Statement
a = 10
b = 10.5

# Expression
print(10/5)

2.0

In [ ]:
a = 10
b = 3
a %= b
print(a)

1

In [ ]:
a = 10
b = 3
a %= b
# a == b
# a != b
# a > b
# a < b
a <= b

True

import module

In [ ]:
import math
print(math.pi)

# 2^5 ==> 2**5
print(math.pow(2,5))

3.141592653589793
32.0

In [ ]:
print(math.floor(1.22334))

1

In [ ]:
print(math.ceil(1.22334))

2

In [ ]:
import math

In [ ]:
print(math.ceil(1.22334))

2

In [ ]:
print(math.round(1.22334))

 erors

In [ ]:
print(i am a student)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-53-924f08a9d875>, line 1)

In [ ]:
print(2/0)

5 = b

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-38-a56e304456c6>, line 3)

In [ ]:
a = 10
b = 10
if a == b:
  print("a is equal b")

a is equal b

For Madari is Here  ::::::

In [ ]:
for i in range(4):
  for j in range(5):
    print(i,j, end=" | ")
  print()

0 0 | 0 1 | 0 2 | 0 3 | 0 4 |
1 0 | 1 1 | 1 2 | 1 3 | 1 4 |
2 0 | 2 1 | 2 2 | 2 3 | 2 4 |
3 0 | 3 1 | 3 2 | 3 3 | 3 4 |

In [ ]:
for i in range(3):
  for j in range(3):
    if i == j:
      print("*", end="")
    else:
      print("$",end="")
  print()

*$$
$*$
$$*

In [ ]:
for i in range(5):
  for j in range(3):
    if i == j:
      print("*", end="")
    else:
      print("*",end="")
  print()

***
***
***
***
***

In [ ]:
a= 5.6
a = int(5.6)
print(a)

5

In [ ]:
def get_name():     #header
  #body
  #codes
  return 'dab'

In [ ]:
get_name ()

'dab'

In [ ]:
def narikel( a, b, c):
  print(a+b+c)

In [ ]:
narikel ('kola', 'apple', 'Tormuj')

kolaappleTormuj

In [ ]:
def sum(a,b):
  return(a+b)

In [ ]:
tsum=sum(100,4344)
print(tsum)

4444

In [ ]:
def sum3(a,b,c):
  #sum2=sum3(a,b)
  #sum= sum3(sum2, c)
  print(a+b+c)

In [ ]:
Sum=sum3(100,1001,1201)

2302

In [ ]:
def price_of_the_pens():
  a = 10
  b = 5
  c = 99
  print(f" Red pen is {a} Taka", " Blue pen is {b} taka", " Green pen is{c} taka")

In [ ]:
price_of_the_pens()

 Red pen is 10 Taka  Blue pen is {b} taka  Green pen is{c} taka

In [ ]:
def names():
  Me = "Naeem loves"
  Another= "his phones"
  print(Me, Another)

In [ ]:
names()

Naeem loves his phones

In [ ]:
def sum(a,b):
  print(a+b)
  total = a+b
  print(f"Total = {total}")
  return (a+b)

In [ ]:
sum(3,3265)

3268

3268

In [ ]:
return_val = sum(8,3)
print("return_val is", return_val)

11
Total = 11
return_val is 11

In [ ]:
def sum_with_pi(a):
  c =a + pi
  print(f"c = {c}")

In [ ]:
pi = 3.1416
sum_with_pi(100)

c = 103.1416

In [ ]:
def sum_of_range():
  sumofodds = 0
  for number in range(0,1000):
    if number % 2 !=  0:
      sumofodds += number
      return(sumofodds)

In [ ]:
sum_of_range()

1

In [ ]:
def addition(a, b):
	a= 3
	b= 5
	return(a+b)

In [ ]:
addition(a, b)

8

**Assignment**

In [ ]:
'''Sum of Odd Numbers from 1 to 1000. range should be 1 to 1001.'''


def sum_of_odd_numbers(a):
    sum = 0
    for number in range(1, a+1):
        if number % 2 != 0:
            sum += number
    return sum

In [ ]:
result = sum_of_odd_numbers(1000)
print(f"The sum of odd numbers from 1 to 1000 is: {result}")

The sum of odd numbers from 1 to 1000 is: 250000

In [ ]:
'''Sum of even Numbers from 1 to 1000. range should be 1 to 1001.'''


def sum_of_even_numbers(a,b):
    sum = 0
    for number in range(a, b+1):
        if number % 2 == 0:
            sum += number
    return sum

In [ ]:
result = sum_of_even_numbers(1,10)
print(f"The sum of even numbers from 1  to 1000 is: {result}")

The sum of even numbers from 1  to 1000 is: 250500

In [ ]:
'''Sum of the Numbers from 1 to 1000. range should be 1 to 1001.'''

def sum_of_the_numbers(a):
    sum = 0
    for number in range(1, a+1):
            sum += number
    return sum

In [ ]:
result = sum_of_the_numbers(1000)
print(f"The sum of the numbers from 1 to 1000  is: {result}")

The sum of the numbers from 1 to 1000  is: 500500

In [ ]:
sum = 0
for i in range(2,1000,2):
  sum += i
print (sum)

249500

divide

In [ ]:
def divide(a, b):
  #divident = a
  #divisor = b
  if a % b == 0:
    print("divisible")
  else:
    print("not divisible")

In [ ]:
 divide(6,2)

divisible

**Cartesian distance**

In [ ]:
def val_of_var(X1,Y1,X2,Y2):
  import math
  DelX= X2-X1
  DelY= Y2-Y1

  Distance = math.sqrt(DelX**2+DelY**2)
  print (f" Distance between the points is", Distance)

In [ ]:
val_of_var(4,5,6,8)

 Distance between the points is 3.605551275463989

In [ ]:
def factorial_of(a):
  import math
  if a == 0 or a == 1:
    return 1
  else:
    return a*factorial(a-1)

In [ ]:
factorial_of (10)

10

In [ ]:
for i in range (1,7):
  print(i)
  if i % 2 == 0:
    print (" it is even")

1
2
 it is even
3
4
 it is even
5
6
 it is even

In [ ]:
# 5! = 5*4*3*2*1
def factorial (a):
  factorial_val = 1
  for i in range(1,a+1):
    factorial_val *= i
  return factorial_val

In [ ]:
factorial (5)

120

import tkinter as tk

def add(x, y):
    """Add two numbers"""
    return x + y

def subtract(x, y):
    """Subtract two numbers"""
    return x - y

def multiply(x, y):
    """Multiply two numbers"""
    return x * y

def divide(x, y):
    """Divide two numbers"""
    if y == 0:
        return "Error! Division by zero."
    return x / y

def calculate():
    operation = operation_var.get()
    num1 = float(num1_entry.get())
    num2 = float(num2_entry.get())
    
    if operation == "Add":
        result.set(add(num1, num2))
    elif operation == "Subtract":
        result.set(subtract(num1, num2))
    elif operation == "Multiply":
        result.set(multiply(num1, num2))
    elif operation == "Divide":
        result.set(divide(num1, num2))

# Create the main window
root = tk.Tk()
root.title("Simple Calculator App")

# Input fields
num1_label = tk.Label(root, text="Enter first number:")
num1_label.grid(row=0, column=0, padx=5, pady=5)
num1_entry = tk.Entry(root)
num1_entry.grid(row=0, column=1, padx=5, pady=5)

num2_label = tk.Label(root, text="Enter second number:")
num2_label.grid(row=1, column=0, padx=5, pady=5)
num2_entry = tk.Entry(root)
num2_entry.grid(row=1, column=1, padx=5, pady=5)

# Operation selection
operation_var = tk.StringVar()
operation_var.set("Add")  # Default operation
operation_label = tk.Label(root, text="Select operation:")
operation_label.grid(row=2, column=0, padx=5, pady=5)
operation_menu = tk.OptionMenu(root, operation_var, "Add", "Subtract", "Multiply", "Divide")
operation_menu.grid(row=2, column=1, padx=5, pady=5)

# Button to perform calculation
calculate_button = tk.Button(root, text="Calculate", command=calculate)
calculate_button.grid(row=3, column=0, columnspan=2, padx=5, pady=5)

# Result display
result = tk.StringVar()
result_label = tk.Label(root, text="Result:")
result_label.grid(row=4, column=0, padx=5, pady=5)
result_entry = tk.Entry(root, textvariable=result, state="readonly")
result_entry.grid(row=4, column=1, padx=5, pady=5)

# Run the main event loop
root.mainloop()

In [ ]:
i = 0
while i < 5:
  print(i)
  i+= 1

0
1
2
3
4

In [ ]:
num = (input("enter a number: "))

fac = 1
i = 1

while i <= num:
  fac = fac * i
  i = i + 1

print("factorial of ", num, " is ", fac)

enter a number: 6
factorial of  6  is  720

In [ ]:
num_list =  [124, 215, 215, 245, 545, 325, 658,354, 245, 526, 985, 658, 369, 789, 658, 415, 785, 965, 265, 124, 215, 215, 245, 545, 325, 658, 354, 245, 526, 985, 658, 369, 789, 658, 415, 785, 965, 265,
124, 215, 215, 245, 545, 325, 658, 354,245, 526, 985, 658, 369, 789, 658, 415, 785, 965, 265, 124, 215, 215, 245, 545, 325, 658, 354, 245, 526, 985, 658, 369, 789, 658, 415, 785, 965, 265, ]
num = 545
index_of_num = find_index(num_list, num)
if index_of_num !=-1:
    print ({index_of_element})
else:
   print('not found')

In [ ]:
num_list =  [ 245, 545, 325, 658, 354, 245, 526, 985, 658, 369, 789, 658, 415, 785, 965, 265, 245, 545, 325, 658, 354,245, 545, 325, 658, 354, 245, 526, 985, 658, 369, 789, 658, 415, 785, 965, 265, 245, 526, 985, 658, 369, 789, 658, 415, 785, 965, 265,]

In [ ]:
#task 1
def find_num_index(search_num):
  index = 0
  for num in num_list:
    if num == search_num:
      print(f"{search_num} index in the list: {index}")
      #print(index)
      #break
      #continue
    index +=1

In [ ]:
find_num_index(545)

545 index in the list: 1
545 index in the list: 17
545 index in the list: 22

In [ ]:
for i in range(10,16):
  print(i)
  #break
  for i in range (5):
    print (i)
    break
  break

10
0

In [ ]:
num_list =  [ 245, 545, 325, 658, 354, 245, 526, 985, 658, 369, 789, 658, 415, 785, 965, 265, 245, 545, 325, 658, 354,245, 545, 325, 658, 354, 245, 526, 985, 658, 369, 789, 658, 415, 785, 965, 265, 245, 526, 985, 658, 369, 789, 658, 415, 785, 965, 265,]
print(*num_list)

245 545 325 658 354 245 526 985 658 369 789 658 415 785 965 265 245 545 325 658 354 245 545 325 658 354 245 526 985 658 369 789 658 415 785 965 265 245 526 985 658 369 789 658 415 785 965 265

In [ ]:
#task 2

num_list = range(2,10)
print(*num_list)

def count_odd_num():
  count = 0
  for num in num_list:
    print(num)
    if num % 2 ==0:
      print("Before continue")
      continue
      print("After continue")

    print("Outside if clause")
    count +=1
  return count
count = count_odd_num()

2 3 4 5 6 7 8 9
2
Before continue
3
Outside if clause
4
Before continue
5
Outside if clause
6
Before continue
7
Outside if clause
8
Before continue
9
Outside if clause

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error! Division by zero."
    return x / y

def calculator():
    print("what do you want to do?")
    print("1. Add (+)")
    print("2. Subtract (-)")
    print("3. Multiply (*)")
    print("4. Divide (/)")

    while True:
        choice = input("Enter choice (1/2/3/4): ")

        if choice in ['1', '2', '3', '4']:
            try:
                num1 = float(input("Enter first number: "))
                num2 = float(input("Enter second number: "))
            except ValueError:
                print("Invalid input! Please enter a number.")
                continue

            if choice == '1':
                print(f"{num1} + {num2} = {add(num1, num2)}")
            elif choice == '2':
                print(f"{num1} - {num2} = {subtract(num1, num2)}")
            elif choice == '3':
                print(f"{num1} * {num2} = {multiply(num1, num2)}")
            elif choice == '4':
                result = divide(num1, num2)
                print(f"{num1} / {num2} = {result}")
        else:
            print("Invalid Input")

        next_calculation = input("Do you want to perform another calculation? (yes/no): ")
        if next_calculation.lower() != 'yes':
            break
calculator()

what do you want to do?
1. Add (+)
2. Subtract (-)
3. Multiply (*)
4. Divide (/)
Enter choice (1/2/3/4): 2
Enter first number: 23
Enter second number: 23
23.0 - 23.0 = 0.0
Do you want to perform another calculation? (yes/no): 3

In [ ]:
my_dict = dict( name = 'Naeem', age = '24', birth_place ='Pabna')
print(my_dict)

{'name': 'Naeem', 'age': '24', 'birth_place': 'Pabna'}

In [ ]:
print(my_dict['name'])

Naeem

In [ ]:
name = my_dict.get('name', 'Nothing is found using the search key')
print(name)

Nothing is found using the search key

In [ ]:
name = my_dict.get('nam', 'Nothing is found using the search key')
print(name)

Nothing is found using the search key

In [ ]:
my_dict['age'] = 25
print(my_dict)

{'name': 'Naeem', 'age': 25, 'birth_place': 'Pabna', 'no_of_students': '25'}

In [ ]:
my_dict['no_of_students'] = 25
print(my_dict)

{'name': 'Naeem', 'age': 25, 'birth_place': 'Pabna', 'no_of_students': 25}

In [ ]:
my_dict.pop('age')
print(my_dict)

{'name': 'Naeem', 'birth_place': 'Pabna', 'no_of_students': 25}

In [ ]:
print(my_dict)

{'name': 'Naeem', 'birth_place': 'Pabna', 'no_of_students': 25}

In [ ]:
keys = my_dict.keys()
print(keys)
values = my_dict.values()
print(values)
item = my_dict.items()
print(item)

dict_keys(['name', 'birth_place', 'no_of_students'])
dict_values(['Naeem', 'Pabna', 25])
dict_items([('name', 'Naeem'), ('birth_place', 'Pabna'), ('no_of_students', 25)])

In [ ]:
for value in my_dict.values():
  print(f"{value}")

Naeem
Pabna
25

In [ ]:
def main():
    num_students = int(input("Enter the number of students: "))

    students = []

    for i in range(1, num_students + 1):
        name = input(f"Enter the name of student {i}: ")
        grades = input(f"Enter the grades for {name} (separated by spaces): ").split()
        grades = list(map(float, grades))

        average_grade = sum(grades) / len(grades)
        highest_grade = max(grades)
        lowest_grade = min(grades)

        status = "Pass" if average_grade >= 60 else "Fail"

        student_info = {
            "name": name,
            "average_grade": average_grade,
            "status": status,
            "highest_grade": highest_grade,
            "lowest_grade": lowest_grade
        }

        students.append(student_info)

    for student in students:
        print(f"\nStudent: {student['name']}")
        print(f"Average Grade: {student['average_grade']:.2f}")
        print(f"Status: {student['status']}")
        print(f"Highest Grade: {student['highest_grade']}")
        print(f"Lowest Grade: {student['lowest_grade']}")

if __name__ == "__main__":
    main()

Enter the number of students: n

ValueError: invalid literal for int() with base 10: 'n'

In [ ]:
unq_set ={ 4, 43 ,7 ,46 ,64, 8, 64, 5,45}
print(unq_set, type(unq_set))
new_set = set(['a','b','c','d'])
print(new_set)

{64, 4, 5, 7, 8, 43, 45, 46} <class 'set'>
{'c', 'd', 'b', 'a'}

In [ ]:
new_set.add('e')
print(new_set)
new_set.update(['f','g'])
print(new_set)
new_set.remove('f')
print(new_set)
new_set.discard('g')
print(new_set)
new_set.clear()
print(new_set)

{'b', 'e', 'c', 'd', 'g', 'a'}
{'b', 'e', 'c', 'd', 'g', 'a', 'f'}
{'b', 'e', 'c', 'd', 'g', 'a'}
{'b', 'e', 'c', 'd', 'a'}
set()

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7}
C = A.union(B)
print(C)
D = A.intersection(B)
print(D)
E = A.difference(B)
print(E)
F = A.symmetric_difference(B)
print(F)
G = B.issubset(A)
print(G)
H = A.issuperset(B)
print(H)

I = {1, 2, 3, 4, 5}
J = {4, 5, 6, 7}
K = I.isdisjoint(J)
print(K)
L = I.copy()
print(L)
M = I.pop()
print(M)
N = I.clear()
print(N)

print(A == B)

{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7}
False
False
False
{1, 2, 3, 4, 5}
1
None
False

In [ ]:
My_set ={ 4, 43 ,7 ,46 ,64, 8, 64, 5,45}
#print (My_set)

for item in My_set:
  print(item)

64
4
5
7
8
43
45
46

In [ ]:

score = float(input("Enter the student's score: "))

if score >= 80:
    result = "A+"
elif score >= 75 and score < 80:
    result = "A"
elif score >= 70 and score < 75:
    result = "A-"
else:
    result = "F"

print(f"The student's grade is: {result}")

Enter the student's score: 67
The student's grade is: F

Problem: 1

In [ ]:

# List of daily temperatures for a week
temperatures = [30, 32, 31, 29, 28, 33, 34]

# Calculate the average temperature
average_temperature = sum(temperatures) / len(temperatures)

# Find the highest and lowest temperatures
highest_temperature = max(temperatures)
lowest_temperature = min(temperatures)

# Print the results
print(f"Average temperature for the week: {average_temperature:.2f}°C")
print(f"Highest temperature recorded: {highest_temperature}°C")
print(f"Lowest temperature recorded: {lowest_temperature}°C")

Average temperature for the week: 31.00°C
Highest temperature recorded: 34°C
Lowest temperature recorded: 28°C

Problem : 2

In [ ]:

# Email addresses from the newsletter signup form
newsletter_emails = {"john@example.com", "jane@example.com", "alice@example.com", "bob@example.com"}

# Email addresses from the purchase form
purchase_emails = {"alice@example.com", "bob@example.com", "carol@example.com", "dave@example.com"}

# Find common email addresses (intersection of two sets)
common_emails = newsletter_emails.intersection(purchase_emails)

# Print the result
if common_emails:
    print("Email addresses appearing in both sets:")
    for email in common_emails:
        print(email)
else:
    print("No email addresses appear in both sets.")

Email addresses appearing in both sets:
alice@example.com
bob@example.com

Problem : 3

In [ ]:

# List of participants with their scores
participants = [
    {"name": "Alice", "score": 85},
    {"name": "Bob", "score": 78},
    {"name": "Charlie", "score": 92},
    {"name": "Diana", "score": 88},
    {"name": "Eve", "score": 74}
]

# Calculate the average score
total_score = sum(participant["score"] for participant in participants)
average_score = total_score / len(participants)

print(f"The average score is: {average_score:.2f}")

# Congratulate participants who scored above the average
print("\nCongratulations to the following participants who scored above the average:")
for participant in participants:
    if participant["score"] > average_score:
        print(f"{participant['name']} with a score of {participant['score']}")

The average score is: 83.40

Congratulations to the following participants who scored above the average:
Alice with a score of 85
Charlie with a score of 92
Diana with a score of 88

Problem: 4

In [ ]:

# Dictionary of books
books = {
    "The Great Gatsby": True,
    "1984": False,
    "To Kill a Mockingbird": True,
    "Pride and Prejudice": False,
    "Moby-Dick": True
}

# Extract book titles that are available
available_books = [title for title, available in books.items() if available]

# Print the list of available books
print("Available books:")
for book in available_books:
    print(book)

Available books:
The Great Gatsby
To Kill a Mockingbird
Moby-Dick

Problem: 5

In [ ]:

# List of items
items = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple', 'grape', 'orange', 'grape']

# Dictionary to store the count of each item
item_counts = {}

# Count each item
for item in items:
    if item in item_counts:
        item_counts[item] += 1
    else:
        item_counts[item] = 1

# Print the counts
print("Item counts:")
for item, count in item_counts.items():
    print(f"{item}: {count}")

Item counts:
apple: 3
banana: 2
orange: 2
grape: 2

Problem :5

In [ ]:

from collections import Counter

items = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple', 'grape', 'orange', 'grape']

item_counts = Counter(items)

print("Item counts:")
for item, count in item_counts.items():
    print(f"{item}: {count}")

Item counts:
apple: 3
banana: 2
orange: 2
grape: 2

Problem : 6

In [ ]:

# Dictionary of employees' salaries
salaries = {
    "Alice": 4500,
    "Bob": 6000,
    "Charlie": 5000,
    "Diana": 5500,
    "Eve": 4800
}

# Adjust salaries based on the criteria
adjusted_salaries = {}
for employee, salary in salaries.items():
    if salary > 5000:
        adjusted_salaries[employee] = salary * 1.5  # Increase by 50%
    else:
        adjusted_salaries[employee] = salary * 1.3  # Increase by 30%

# Print the adjusted salaries
print("Adjusted Salaries:")
for employee, new_salary in adjusted_salaries.items():
    print(f"{employee}: {new_salary:.2f}")

Adjusted Salaries:
Alice: 5850.00
Bob: 9000.00
Charlie: 6500.00
Diana: 8250.00
Eve: 6240.00

Problem : 7

In [ ]:

# Function to check if a number is prime
def is_prime(number):
    if number <= 1:  # Numbers less than or equal to 1 are not prime
        return False
    for i in range(2, int(number ** 0.5) + 1):  # Check divisors up to the square root of the number
        if number % i == 0:
            return False
    return True

# Take input from the user
num = int(input("Enter an integer: "))

# Check and print whether the number is prime
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter an integer: 76
76 is not a prime number.

Problem : 8

In [ ]:

# Dictionary of student names and their marks
stat = {
    "Alice": 85,
    "Bob": 72,
    "Charlie": 45,
    "Diana": 67,
    "Eve": 92
}

# Function to determine the grade based on marks
def get_grade(mark):
    if 80 <= mark <= 100:
        return "A+"
    elif 70 <= mark < 80:
        return "A"
    elif 60 <= mark < 70:
        return "A-"
    elif 50 <= mark < 60:
        return "B"
    else:
        return "F"

# Iterate through the dictionary and print each student's grade
for student, mark in stat.items():
    grade = get_grade(mark)
    print(f"{student} scored {mark} and got grade {grade}.")

Alice scored 85 and got grade A+.
Bob scored 72 and got grade A.
Charlie scored 45 and got grade F.
Diana scored 67 and got grade A-.
Eve scored 92 and got grade A+.

Problem : 9

In [ ]:

# Function to calculate the average grade
def calculate_average(grades):
    return sum(grades) / len(grades)

# Function to determine pass/fail based on average grade
def determine_pass_fail(average):
    return "Pass" if average >= 60 else "Fail"

# Function to find the highest and lowest grades
def find_highest_lowest(grades):
    return (max(grades), min(grades))

# Main program
def analyze_grades():
    # Input the number of students
    num_students = int(input("Enter the number of students: "))

    # Loop through each student
    for _ in range(num_students):
        # Input student's name
        name = input("Enter the student's name: ")

        # Input grades as a space-separated string, convert to list of integers
        grades = list(map(int, input(f"Enter grades for {name} (separated by spaces): ").split()))

        # Calculate average grade
        average = calculate_average(grades)

        # Determine pass/fail status
        pass_fail = determine_pass_fail(average)

        # Find highest and lowest grades
        highest, lowest = find_highest_lowest(grades)

        # Display results
        print(f"\nResults for {name}:")
        print(f"Average Grade: {average:.2f}")
        print(f"Pass/Fail: {pass_fail}")
        print(f"Highest Grade: {highest}")
        print(f"Lowest Grade: {lowest}")
        print("-" * 30)

# Run the program
analyze_grades()

Enter the number of students: 77
Enter the student's name: Naeem
Enter grades for Naeem (separated by spaces): 65 76 89 98 67

Results for Naeem:
Average Grade: 79.00
Pass/Fail: Pass
Highest Grade: 98
Lowest Grade: 65
------------------------------
Enter the student's name: Nae
Enter grades for Nae (separated by spaces): 76

Results for Nae:
Average Grade: 76.00
Pass/Fail: Pass
Highest Grade: 76
Lowest Grade: 76
------------------------------

KeyboardInterrupt: Interrupted by user

Problem : 10

In [ ]:

# List of participants with their scores
participants = [
    {"name": "Alice", "score": 85},
    {"name": "Bob", "score": 70},
    {"name": "Charlie", "score": 90},
    {"name": "Diana", "score": 65},
    {"name": "Eve", "score": 75}
]

# Calculate the average score
total_score = sum(participant["score"] for participant in participants)
average_score = total_score / len(participants)

# Print the average score
print(f"Average score: {average_score:.2f}")

# Find and congratulate participants who scored above the average
print("\nCongratulations to the following participants who scored above the average:")
for participant in participants:
    if participant["score"] > average_score:
        print(f"{participant['name']} with score {participant['score']}")

Average score: 77.00

Congratulations to the following participants who scored above the average:
Alice with score 85
Charlie with score 90

Problem: 11

In [ ]:
def swap_values(a, b):

    a = input("Enter the first value: ")
    b = input("Enter the second value: ")
    return b, a
print("Ulta values:", swap_values(a,b))

**Problem 1**

In [ ]:
temp = [28, 30, 32, 28, 27, 25, 26]

average_temp = sum(temp)/len(temp)
maximum_temp = max(temp)
minimum_temp = min(temp)

print(f"This week's average temperature: ", average_temp)
print(f"This week's highest temperature: ", maximum_temp)
print(f"This week's lowest temperature: ", minimum_temp)

This week's average temperature:  28.0
This week's highest temperature:  32
This week's lowest temperature:  25

In [ ]:
number_of_temp = int(input("How many temperatures do you want to enter? "))
temperatures = []

for i in range(number_of_temp):
    temp = int(input(f"Enter temperature {i+1}: "))
    temperatures.append(temp)

average_temp = sum(temperatures) / len(temperatures)
maximum_temp = max(temperatures)
minimum_temp = min(temperatures)

print(f"This week's average temperature: {average_temp:.2f}°")
print(f"This week's highest temperature: {maximum_temp}°")
print(f"This week's lowest temperature: {minimum_temp}°")

How many temperatures do you want to enter? 2
Enter temperature 1: 12
Enter temperature 2: 14
This week's average temperature: 13.00°
This week's highest temperature: 14°
This week's lowest temperature: 12°

**Problem 2**

In [ ]:
newsletter_set = {"a@example.com", "b@example.com", "c@example.com", "e@example.com"}
purchase_set = {"b@example.com", "c@example.com", "d@example.com"}

common_emails = newsletter_set.intersection(purchase_set) #union/difference/symetric_difference can be done too

print("Common email addresses:", common_emails)

Common email addresses: {'b@example.com', 'c@example.com'}

In [ ]:
def books():
  Total_books = {
      "The Great Gatsby": True,
      "1984": False,
      "To Kill a Mockingbird": True,
      "Pride and Prejudice": False,
      "Moby-Dick": True
  }
  available_books = []
  for book, available in Total_books.items():
    if available:
      available_books.append(book)
  return available_books

print("Available books are: ", books())

Available books are:  ['The Great Gatsby', 'To Kill a Mockingbird', 'Moby-Dick']

**I hate Problems**

In [ ]:
for i in range(1, 101):
    print(i)

In [ ]:
def even_num_generator():
  for i in range (1, 20):
    if i % 2 == 0:
      yield i
gen = even_num_generator()
print(next(gen))
print(next(gen))
print(next(gen))

2
4
6

In [ ]:
def power_out(x):
  def power_in(y):
    return x ** y
  return power_in

square = power_out(5)
print(square(2))

cube = power_out(5)
print(cube(3))

25
125

In [ ]:
print("Here is the multiplication table of 5: ")
for n in range (1, 11):
     print(f"5*{n}={5*n}")

Here is the multiplication table of 5:
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50